body > header > div  {

  background-color: #eee;
  height: $app-header-height;
  padding: 0 (($app-header-height - $app-header-font-size) / 2);
  border-bottom: 1px solid $app-header-border-color;

  > * {
    float: left;
  }

  button.icon {
    &.hamburger, &.sync, &.upload {
      height: $app-header-height;
      background-position: center;
      background-size: $app-header-font-size;
      background-repeat: no-repeat;
    }
  }

  > h1 {
    font-size: $app-header-font-size;
    margin: 0;
    line-height: 1;
    padding: (($app-header-height - $app-header-font-size) / 2) (($app-header-height - $app-header-font-size) / 2) 0;
  }

}

#button-region {
  float: right;
}