$app-header-height: 3rem !default;
$app-header-image-size: 1.4rem !default;
$app-header-font-size: 1.2rem !default;
$app-header-font-color: #555 !default;
$app-header-menu-header-height: 3rem !default;
$app-header-menu-header-icon-size: 1.3rem !default;
$app-header-menu-header-font-size: 1rem !default;
$app-header-menu-font-size: 1rem !default;
$app-header-menu-header-border-color: #666 !default;
$app-header-menu-header-font-color: #fff !default;
$app-header-menu-header-background: #262626 linear-gradient(to bottom, #202020 0%, #2a2a2a 30%, #2a2a2a 70%, #202020 100%) !default;
$app-header-menu-header-list-background: #000 !default;
$app-header-menu-header-list-item-background: #000 !default;
$app-header-menu-header-list-item-hover-background: #161616 !default;
$app-header-menu-header-list-item-active-background: #161616 !default;
$app-header-menu-header-close-background-color: #484848 !default;
$app-header-menu-list-border-color: #484848 !default;
$app-header-menu-font-color: #fff !default;
$app-header-menu-height: 3rem !default;
$app-header-border-color: #aaa !default;
$app-header-background: #eee linear-gradient(to bottom, #e6e6e6 0%, #eeeeee 30%, #eeeeee 70%, #e6e6e6 100%) !default;

$app-list-border-color: #ddd !default;
$app-list-box-shadow: inset 0 2px 2px rgba(0,0,0,.05) !default;
$app-list-hover-background-color: #f6f6f6 !default;

$app-background: #e6e6e6 !default;

$app-main-background: #fff !default;
$app-main-padding: 1rem !default;

$app-main-footer-padding: $app-main-padding !default;
$app-main-footer-font-size: 0.8rem !default;