$app-header-height: 3rem !default;
$app-header-font-size: 1.4rem;
$app-header-menu-header-height: 3rem !default;
$app-header-menu-header-font-size: 1.3rem !default;
$app-header-menu-font-size: 1rem !default;
$app-header-menu-height: 3rem !default;
$app-header-border-color: #aaa !default;

$app-list-border-color: #ddd !default;
$app-list-box-shadow: inset 0 2px 2px rgba(0,0,0,.05) !default;
$app-list-hover-background-color: #f6f6f6 !default;

$app-background-color: #eee !default;

$app-main-background-color: #fff !default;