$component-slide-out-width: 300px !default;
$component-slide-out-width-fallback: 40% !default;
$component-header-background-color: #fff !default; // different from a page header
$component-background-color: #fff !default;

$component-loader-width: 150px !default;
$component-loader-height: 200px !default;

$component-blocker-width: 300px !default;
$component-blocker-height: 420px !default;
