$global-form-control-background-color: #f9f9f9 !default;
$global-form-control-border-color: #ccc !default;
$global-form-control-text-color: #555 !default;
$global-form-control-font-size: 1rem !default;
$global-form-control-padding: 0.5rem !default;