$modal-close-background-color: #b00;
$modal-close-background: linear-gradient(to bottom, adjust-color($modal-close-background-color, $lightness: 5%, $saturation: -5%) 0%, adjust-color($modal-close-background-color, $lightness: -5%, $saturation: 5%) 100%);
$modal-close-font-color: #fff;

$modal-close-icon-size: 2.3rem;

$modal-close-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25) !default;

$modal-activate-background-color: #00aeff;
$modal-activate-background: linear-gradient(to bottom, adjust-color($modal-activate-background-color, $lightness: 5%, $saturation: -5%) 0%, adjust-color($modal-activate-background-color, $lightness: -5%, $saturation: 5%) 100%);
$modal-activate-font-color: #fff;


$info-region-header-height: 2.6rem !default;
$info-region-header-font-size: 1rem !default;

$survey-step-inset-block-background-color: #f8f8f8 !default;
$survey-step-inset-block-font-color: #2797e0 !default;
$survey-step-inset-block-border-color: #2d9ce3 !default;

$list-icon-size: 2rem !default;

$survey-step-prev-button-background-color: #e76453;
$survey-step-next-button-background-color: #56c68a;
$survey-step-skip-button-background-color: #dbdbdb;

$survey-step-skip-button-font-color: #666666;
