$info-region-header-height: 2.6rem !default;
$info-region-header-font-size: 1rem !default;

$survey-step-inset-block-background-color: #555 !default;
$survey-step-inset-block-font-color: #fff !default;