html {
  font-size: 18px;
  font-family: "Open Sans";
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.35rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

[role="link"] {
  cursor: pointer;
}

.text-error {
  color: #a00;
}