$modal-close-background-color: #0054A6;
$modal-close-font-color: #F4C51A;

$modal-activate-background-color: #0054A6;

$survey-step-inset-block-background-color: #003466 !default;
$survey-step-inset-block-font-color: #F4C51A !default;
$survey-step-inset-block-border-color: #0054A6 !default;

$survey-step-button-font-color: #F4C51A;
$survey-step-prev-button-background-color: #0054A6;
$survey-step-next-button-background-color: #0054A6;
$survey-step-skip-button-background-color: #dbdbdb;
