.survey-step .prompt-list .horizontal-layout {

  // all sizing for this element is derived from $radio-size,
  // which is proportional to the global form font size.

  $radio-size: $global-form-control-font-size * 1.25;
  $radio-border-gap: $radio-size * 0.5;

  .input-area {
    padding-top: $radio-border-gap*2;

    input {
      display: none;
    }



}