.survey-step {

  // survey navigation buttons
  #prev-button, #next-button {
    button {
      border-radius: 5px;
      border: 1px solid black;
      padding-top: $global-form-control-padding;
      padding-bottom: $global-form-control-padding;
    }
  }

  #prev-button button {
    background: $survey-step-prev-button-gradient;
    color: white;
  }
  #next-button button {
    background: $survey-step-next-button-gradient;
    color: black;
  }
}
