#campaigns {

  > header {
    @include -clearfix;
    margin: 1em;
    position: relative;
  }

  #selector-region {
    float: left;
  }

  #search-region div {
    position: absolute;
    height: ((3/2) * $global-form-control-font-size + 2 * $global-form-control-padding); /* same as .icon.search.form-control in components/_icon.scss */
    overflow: hidden;
    z-index: 10;
    width: 100%;
    > * {
      position: absolute;
    }
    .icon {
      right: 0;
      z-index: 21;
    }
    #search-box {
      left: 0;
      width: 100%;
    }
  }

}