#dashboard-eqis #artifacts-region {
  $col-collected-width: 8rem;
  $col-artifacts-width: 8rem;
  header {
    .col-folder {
      padding: $app-main-footer-padding;    
    }  
    .col-artifacts, .col-collected {
      padding-top: $app-main-footer-padding;
    }
    .col-artifacts {
      padding-right: $app-main-footer-padding;
    }
  }
  .col {
    display: block;
  }
  .col-artifacts, .col-collected {
    float: right;
    margin: 0;
  }
  .col-collected {
    text-align: center;
    width: $col-collected-width;
  }
  .col-artifacts {
    text-align: right;
    width: $col-artifacts-width;
  }
  .list {
    [role="link"] {
      text-transform: uppercase;
    }
  }
}
