form.login {
  margin: 0;
  padding: $app-main-footer-padding;
  > :first-child {
    margin-top: 0;
  }
  h1 {
    text-indent: -999px;
    overflow: hidden;
    border: 0;
    background-image: url('../img/big-logo.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  > * {
    display: block;
  }
  label {
    text-align: center;
    font-weight: bold;
    margin-top: $app-main-footer-padding/2;
    margin-bottom: $app-main-footer-padding/4;

  }
  .error + label {
    margin-top: 0;
  }
  input, button[type="submit"] {
    width: 100%;
    margin-bottom: 0.4rem;
  }
  button[type="submit"] {
    margin-top: $app-main-footer-padding;
    background-color: #3ac;
    color: #fff;
    border-color: $global-form-control-border-color-dark;
    padding: 0.75rem;
  }
  .server-selector {
    label {
      text-align: left;
      display: block;
    }
    select {
      margin-bottom: $app-main-footer-padding/4;
    }
  }
}
