form.login {
  margin: 0;
  padding: $app-main-footer-padding;
  > :first-child {
    margin-top: 0;
  }
  .error:empty {
    display: none;
  }
  h1 {
    text-indent: -999px;
    overflow: hidden;
    border: 0;
    // Background image is defined in the template inline so it can be replaced
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: $global-form-control-padding*2;
    height: 3.5rem;
  }
  > * {
    display: block;
  }
  label {
    text-align: center;
    font-weight: bold;
    margin-top: $app-main-footer-padding/2;
    margin-bottom: $app-main-footer-padding/4;

  }
  .error + label {
    margin-top: 0;
  }
  input, button[type="submit"] {
    width: 100%;
    margin-bottom: 0.4rem;
  }
  .button-single {
    button {
      margin-top: $app-main-footer-padding;
      border: 0;
      border-radius: 0;
      text-transform: uppercase;
      background: $modal-activate-background-color;
      background: $modal-activate-background;
      color: $modal-activate-font-color;
      border-color: $global-form-control-border-color-dark;
      padding: $global-form-control-padding*2;
    }
  }
  .server-selector {
    label {
      text-align: left;
      display: block;
    }
    .select-block {
      width: 100%;
      margin: 0 auto;
    }
    select {
      outline: none;
      margin-bottom: $app-main-footer-padding/4;
      width: 100%;
    }
  }
  .hideShowPassword-wrapper {
    width: 100%;
  }
}
