#profile-region {
  .text-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
  }
  .change-password {
    margin: $app-main-footer-padding 0;
  }
}