#profile-region {
  .text-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding: (2*$app-main-footer-padding) $app-main-footer-padding;
    width: 100%;
  }
  .change-password {
    margin: $app-main-footer-padding 0;
  }
}