::-ms-reveal,
::-ms-clear {
  display: none !important;
}

.hideShowPassword-toggle {
  background: transparent;
  border: 0;
  border-radius: $global-form-control-border-radius;
  color: lighten($global-form-control-text-color, 20%);
  cursor: pointer;
  font-size: $global-form-control-font-size*0.8;
  font-weight: bold;
  margin-right: 1px;
  margin-top: 1px;
  padding: $global-form-control-padding;
  text-transform: uppercase;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.hideShowPassword-toggle:hover,
.hideShowPassword-toggle:focus {
  background-color: #eee;
  color: #555;
  outline: transparent;
}
