nav.list {
  > ul {

    list-style: none;
    margin: 0;
    padding: 0;

    > li {

      border-bottom: 1px solid #ccc;

      &:first-child {
        border-top: 1px solid #ccc;
      }

    }

    li {

      @include -clearfix;
      padding: 1rem;

      div.action {
        float: left;
        width: 40px;
      }

      div.action + div.action, div.action.right {
        float: right;
      }

      div.action + div.action + div.action {
        display: none; /* not allowed more than two actions currently */
      }

      div.action:first-child:not(.right) + [role="link"] {
        margin-left: 60px;
      }

      div.action + div.action + [role="link"], div.action.right + [role="link"] {
        margin-right: 60px;
      }

      [role="link"] {
        overflow-x: hidden;
      }

    }

    h3 {
      font-weight: bold;
      font-size: 1rem;
    }
    h3, p {
      margin: 0;
    }
    p {
      font-size: 0.8rem;
      small {
        font-size: 1em;
      }
    }

  }
}