// Useful Universal Selector Definitions
// -> http://css-tricks.com/things-it-might-be-funuseful-to-try-the-universal-selector-on
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  vertical-align: middle;
}