body > #ui-blocker  {
  figure {
    background-color: $app-main-background;
    color: $app-header-font-color;
  }
  form {
    label {
      color: $app-header-font-color;
    }
  }
  .button-pair {
    margin-bottom: 1rem;
    button {
      height: 1rem;
    }
  }
}
.hide {
  display: none;
}
.blocker-title {
  font-size: 1rem;
  color: $app-header-font-color;
  text-align: center;
}
.blocker-text {
  color: $app-header-font-color;
}