#goals-region {
	.goals-list {
		padding: 10px;
		font-size: .9rem;
	}

  .change-goals {
    margin: $app-main-footer-padding 0;
  }

  .button-single {
    width: 100%;
    text-align: center;
    button {
      display: inline-block;
      border: 0;
      border-radius: 0;
      text-transform: uppercase;
      background: $modal-close-background-color;
      background: $modal-activate-background;
      color: $modal-activate-font-color;
      padding: $global-form-control-padding*1.5;
    }
  }
}